@media (max-width: 739px) {
  /* header */
  /* bestsell */
  .sell__card {
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
  }
  .sell__card-img {
    width: 128px;
    height: 175px;
    object-fit: cover;
    border-radius: 8px;
  }
  .card__discription {
    width: 128px;
  }
  .sell__card:hover {
    transform: scale(1.12);
    box-shadow: 0 0 40px rgba(255, 223, 0, 0.8);
    color: rgba(0, 0, 0, 0.85);
  }

  /* discover */
  .dis__card {
    margin-bottom: 8px;
  }
  .discover__discription {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  /* footer */
  .footer {
    padding: 42px;
  }
  .footer__heading {
    font-size: 2rem;
    padding: 12px 0;
    line-height: 2.4rem;
    text-align: justify;
  }
  .footer__discription {
    margin-bottom: 12px;
    line-height: 2.4rem;
  }
}
